#main_content {
	margin-bottom: 40px;
}

.col-md-12, .col-sm-12, .col-xs-12 {
	background-color: #BCBABE;
}

.box{
	border: 1px solid black;
	width: 90%;
	height: 90%;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: #1995AD;
	color: black;
	position: relative;
}

.toptop{
	position: absolute;
	right: 0;
	bottom: 0;
}

body {
	background-color: #BCBABE;
}

.col-md-12 p, .col-sm-12 p, .col-xs-12 p , .col-md-4 p, .col-sm-12 p, .col-xs-12 p {
	height: 1000px;
}

div#main_content h2 {	
	font-size: 16px;
	font-weight: bold;
}

div#main_content p {
	padding: 10px;
}

body h1 {
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin:20px auto 20px;
}

body .h2{
	font-size: 1.5em;
	font-weight: bold;
}

body p {
	color: black;

}
#nav-list {
  margin-top: 10px;
  background-color: #1995AD;

}
#nav-list a {
  color: 000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.1em;
}

#header-nav {
	background-color: #A1D6E2;
	color: black;
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-nav > li > a {
	color: black;
}

.navbar-default .navbar-toggle {
	border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.col-sm-12 p {
		width: 95%;
	}
} 
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
} 
/********** Extra small devices only **********/
@media (max-width: 767px) {
	}
