#main_content {
	background-color: yellow;
	height: 90%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
} 
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
} 
/********** Extra small devices only **********/
@media (max-width: 767px) {
	}

div#main_content h2 {	
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

div#main_content p {
	padding: 3px 10px 10px;
}

body h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: white;
}

body {
	background-color: black;
}